<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Library</title>
    <link rel="stylesheet" th:href="@{/styles/book/books.css}" />
</head>

<body>
<div class="top-section">
    <div class="left-section">
        <form id="search-form" method="GET" action="/books">
            <div class="input-container">
                <input type="text" id="book-title-input" name="title">
                <label for="book-title-input">Book Title:</label>
            </div>
            <div class="input-container">
                <input type="text" id="author-name-input" name="author">
                <label for="author-name-input">Author Name:</label>
            </div>
            <div class="select-container">
                <label for="category-options"></label>
                <select id="category-options" name="category">
                    <option value="">All</option>
                    <option th:each="category : ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
                </select>
            </div>
            <button type="submit">Search</button>
        </form>
    </div>
    <div class="right-section" th:if="${librarian}">
        <button id="manage-button" onclick="toggleAddBookButton()">Manage</button>
        <a id="add-book-button" class="add-button" href="/books/bookForm">Add Book</a>
    </div>
    <script>
        function toggleAddBookButton() {
            var manageButton = document.getElementById("manage-button");
            var addBookButton = document.getElementById("add-book-button");
            var editButtons = document.getElementsByClassName("edit-button");
            var deleteButtons = document.getElementsByClassName("delete-button");
            if (manageButton.innerHTML === "Manage") {
                manageButton.innerHTML = "Done";
                manageButton.style.backgroundColor = "green";
                addBookButton.style.display = "inline-block";
                for (var i = 0; i < editButtons.length; i++) {
                    editButtons[i].style.display = "inline-block";
                    deleteButtons[i].style.display = "inline-block";
                }
            } else {
                manageButton.innerHTML = "Manage";
                manageButton.style.backgroundColor = "";
                addBookButton.style.display = "none";
                for (var i = 0; i < editButtons.length; i++) {
                    editButtons[i].style.display = "none";
                    deleteButtons[i].style.display = "none";
                }
            }
        }
        window.onload = function() {
            var bookTitleInput = document.getElementById("book-title-input");
            var authorNameInput = document.getElementById("author-name-input");
            var addBookButton = document.getElementById("add-book-button");
            addBookButton.style.display = "none";
            bookTitleInput.addEventListener("input", function() {
                if (bookTitleInput.value) {
                    bookTitleInput.classList.add("has-value");
                } else {
                    bookTitleInput.classList.remove("has-value");
                }
            });
            authorNameInput.addEventListener("input", function() {
                if (authorNameInput.value) {
                    authorNameInput.classList.add("has-value");
                } else {
                    authorNameInput.classList.remove("has-value");
                }
            });
        }


        function confirmDelete(bookId) {
            if (confirm("Are you sure you want to delete this book?")) {
                window.location.href = "/book/deleteBook?bookId=" + bookId;
            }
        }

    </script>
</div>

<div class="bottom-section">
    <div class="grid-container">
        <div th:each="book : ${books}">
            <div class="card">
                <div class="container">
                    <img src="/images/placeholder-book.png" alt="Image" class="center">
                    <h4><b th:text="${book.getTitle}">Book Name</b></h4>
                    <p th:text="${book.author}">Author</p>
                    <p th:text="${book.description}">Description</p>
                    <p th:text="${book.bookCategory.getName()}">Category</p>
                    <div class="button-container" th:if="${librarian}">
                        <a th:href="@{/books/bookForm(bookId=${book.id})}"><button class="edit-button">Edit</button></a>
                        <button class="delete-button" type="submit" onclick="confirmDelete(${book.id})">Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>