<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <title>Registration</title>
  <link rel="stylesheet" th:href="@{/styles/security/registration.css}" />
</head>
<body>
<div class="form-container">
  <h2>Registration</h2>
  <form th:action="@{/registerNewUser}" th:object="${user}" method="post">
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" th:field="*{username}" th:classappend="${#fields.hasErrors('username')}? 'is-invalid'">
      <span class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></span>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" th:field="*{password}" th:classappend="${#fields.hasErrors('password')}? 'is-invalid'">
      <span class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></span>
    </div>
    <div class="form-group">
      <label for="role">Role:</label>
      <select id="role" name="role">
        <option th:each="role : ${roles}" th:value="${role}" th:text="${role}"></option>
      </select>
    </div>
    <input type="submit" value="Register">
  </form>
</div>
</body>
</html>
