body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

textarea {
    max-width: 400px;
    max-height: 200px;
    border: 1px solid #808080; /* Add this line to give the description field a full border */
    border-radius: 0;
    transition: border-color 0.4s ease-in-out;
}

.input-container input[type="text"],
.select-container select,
textarea {
    display: block;
    width: 400px;
    height: 40px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #808080;
    border-radius: 0;
    transition: border-bottom 0.4s ease-in-out;
    background-color: transparent;
}

.select-container label {
    display: block;
    transition: all 0.2s ease-in-out;
}

.select-container select {
    width: 400px;
    height: 40px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 1px solid #808080;
    border-radius: 0;
    transition: border-bottom 0.4s ease-in-out;
    background-color: transparent;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.submit-button {
    margin-left: 10px;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
}

.submit-button:hover {
    background-color: #222;
}

button {
    background-color: #ccc;
    color: black;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #bbb;
}

.container {
    width: 80%;
    max-width: 800px;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    margin: 0 auto;
    display: flex;
}
.error {
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
}


.input-container {

}

label {
    display: block;
}

input:active {
    border: none;
}